* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: inline-block;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
    /* font-family: 'Roboto', sans-serif; */
}
        /* HEADER */
.header{
    font-family: 'Roboto', sans-serif;
}
.header__top {
    background-color: #303030;
}
.header__btn {
    float: right;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    position: relative;
}
.header__btn:before{
    font-family: 'icomoon';
    content: "\f0b1";
    position: absolute;
    left: 22px;
    color:#1b1b1b;
}
.header__contacts:after{
    content:"";
    clear: both;
    display: block;
}
.header__phone,
.header__email{
    color: #d3d2d2;
    letter-spacing: 0.25px;
    line-height: 45px;
    padding-left: 24px;
    position: relative;
}
.header__phone{
    padding-left: 20px;
    padding-right: 30px;
    position: relative;
}
.header__phone:before{
    font-family: 'icomoon';
    content: "\f095";
    position: absolute;
    left: 0;
    color:#ffc222;
    bottom: -2px;
}
.header__email:before{
    font-family: 'icomoon';
    content: "\f003";
    position: absolute;
    left: 0;
    color:#ffc222;
}
.header__content{
    padding: 34px 0px 23px;
}
.menu li {
    display: inline-block;
}
.header__content-inner{
    display: flex;
    justify-content: space-between;
}
.menu a {
    font-size: 16px;
    line-height: 36px;
    color: #323232;
    border: 1px solid transparent;
    padding: 0 16px;
}
.menu a:hover {
    border-color: #ffc222;
}
.menu li + li {
    padding-left: 10px;
}
#modal {
    display: none;
}
        /* MAIN */
.slider{
    background-image: url(../images/slider-background.png);
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}
.slider__item-content{
    text-align: center;
    padding-top: 110px;
    max-width: 665px;
    margin: 0 auto;
}
.slider__title{
    font-size: 30px;
    text-transform: uppercase;
    line-height: 36px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}
.slider__text{
    color: #d3d2d2;
    margin-bottom: 50px;
}
.default__btn{
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 50px 8px 24px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    position: relative;
    outline: none;
}
.default__btn::after{
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
    color: #fff;
}
.slider__inner{
    position: relative;
}
.slick-btn{
    position: absolute;
    top: 70%;
    z-index: 5;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    cursor: pointer;
    outline: none;
    background-color: #ffc222;
}
.slick-btn.slick-disabled{
    cursor: default;
    background-color: transparent;
}
.slick-btn::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    color: #fff;
}
.slick-prev::before{
    content: "\f104";
}
.slick-next::before{
    content: "\f105";
}
.slick-next{
    right: 0;
}
.slick-prev{
    left: 0;
}
.services{
    padding: 50px 0px 30px;
}
.services__top,
.news__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.services__title-box,
.form__title-box,
.news__title-box{
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}
.services__title-box::before,
.form__title-box::before,
.news__title-box::before{
    content:"";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ffc222;
    left: 0;
    top: 11px;
}
.services__title,
.form__title,
.news__title{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #212020;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
.services__text,
.form__text,
.news__text{
letter-spacing: 0.1px;
}
.services__btn > a,
.news__btn > a{
    color: #373636;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 5px 38px;
    border: 3px solid #e6e6e6;
}
.services__items{
    display: flex;
    justify-content: space-between;
}
.services__item{
    max-width: 360px;
    text-align: center;
    padding: 30px 0px 80px;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.services__item-title{
    color: #212020;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0;
}
.services__item-text {
    letter-spacing: 0.1px;
    padding: 0px 35px;
}
.services__item-btn{
    position: absolute;
    bottom: 40px;
    left:0;
    right: 0;
}
.services__item-btn .default__btn{
    color:#373636;
}
.services__item-link{
    font-family: 'Roboto', sans-serif;
    color: #050505;
    border-bottom: 1px solid #050505;
    margin-right: 30px;
}
.about__inner{
    max-width: 545px;
}
.about{
    background-image: url(../images/about-background.png);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    background-repeat: no-repeat;
    padding: 25px 0px 45px;
}
.about__title{
    padding: 10px 0px 25px;
    font-size: 24px;
    line-height: 24px;
    color:#fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.about__text{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    letter-spacing: 0.1px;
    line-height: 24px;
    color: #d3d2d2;
}
.about__btn.default__btn::after{
    color: #000;
}
.form{
    padding-top: 30px;
}
.form__inner{
    background-image: url(../images/girl.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-bottom: 40px;
    min-height: 460px;
}
.form__box{
    max-width: 850px;
    padding-top: 45px;
}
.form__box-inner{
    display: flex;
    justify-content: space-between;
}
.form__box-left{
    max-width: 260px;
    width: 100%;
}
.form__box-right{
    max-width: 555px;
    width: 100%;
}
.form__box-inner label,
.form__box-inner textarea,
.form__box-inner input{
    display: block;
    width: 100%;
}
.form__box-inner label{
    line-height: 36px;
    color: #282828;
    font-family: 'Roboto', sans-serif;
}
.form__box-inner input{
    margin-bottom: 8px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
}
.form__box-inner select{
    outline: none;
    padding-left: 17px;
}
.form__box-inner .jq-selectbox.jqselect{
    display: block;
    width: 100%;
}
.form__box-inner .jq-selectbox__select{
    height: 40px;
    border: 1px solid #e6e6e6;
    padding-left: 17px;
    /* background: transparent;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none; */
}
.form__box-inner .jq-selectbox__trigger-arrow::before{
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    right: 17px;
    top: 0;
    transform: rotate(90deg);
}
.form__box-inner .jq-selectbox__dropdown {
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
	border: 1px solid #e6e6e6;
	background: #FFF;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.form__box-inner .jq-selectbox li {
	min-height: 18px;
	padding: 5px 17px 6px;
	color: #231F20;
}
.form__box-inner .jq-selectbox li.selected {
	background-color: #ffc222;
	color: #FFF;
}
.form__box-inner .jq-selectbox li:hover {
	background-color: #ffc222;
	color: #FFF;
}
.form__box-inner .jq-selectbox li.disabled {
	color: #AAA;
}
.form__box-inner .jq-selectbox li.disabled:hover {
	background: none;
}
.form__box-inner .jq-selectbox li.optgroup {
	font-weight: bold;
}
.form__box-inner .jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.form__box-inner .jq-selectbox li.option {
	padding-left: 25px;
}
.form__box-inner textarea{
    outline: none;
    border: 1px solid #e6e6e6;
    padding: 10px;
    height: 208px;
    resize: none;
    margin-bottom: 42px;
}
.form__box-right p {
    line-height: 36px;
    color: #282828;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.form__box-inner button{
    background-color: transparent;
    color: #282828;
    float: right;
}
.form__box-inner .default__btn::after{
    color:#000;
}
.advantages{
    background-image: url(../images/advantges.png);
    padding: 55px 0px 40px;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 285px;
    background-size: cover;
}
.advantages__inner{
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.advantages__item{
    max-width: 360px;
    padding: 0px 20px;
}
.advantages__title{
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 60px 0px 15px;
    position: relative;
}
.advantages__title::before{
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border: 1px solid #ffc222;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.advantages__title::after{
    font-family: 'icomoon';
    content: "\f00c";
    position: absolute;
    font-size: 14px;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}
.advantages__text{
    line-height: 24px;
    color: #d3d2d2;
    letter-spacing: 0.1px;
}
.news{
    padding: 55px 0px 110px;
    background-color: #f9f9f9;
}
.news__inner{
    display: flex;
    justify-content: space-between;
}
.news__slider{
    max-width: 555px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
    padding: 60px 35px 45px 70px;
    position: relative;
}
.news__slider::before{
    content: "\f10e";
    font-family: 'icomoon';
    color: #fff;
    width: 65px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #ffc222;
    position: absolute;
    top: 0;
    left: 70px;
}
.news__slider-title{
    font-size: 18px;
    line-height: 24px;
    color:#242424;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}
.news__slider-text{
    margin-bottom: 30px;
}
.news__slider-author{
    color: #212020;
    letter-spacing: 0.1px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.news__slider-inner .slick-btn{
    top: auto;
    bottom: -110px;
}
.news__slider-inner .slick-next{
    right: -35px;
}
.news__slider-inner .slick-prev{
    left: auto;
    right: 20px;
}
.news__slider-inner .slick-disabled{
    border-color: #dadada;
}
.news__slider-inner .slick-disabled::before{
    color: #dadada;
}
.news__blog{
    max-width: 260px;
    width: 100%;
}
.news__image{
    position: relative;
}
.news__date{
    position: absolute;
    background-color: #ffc222;
    color: #fff;
    width: 50px;
    height: 55px;
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
    top: 0;
    left: 10px;
}
.news__blog-title{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #242424;
    letter-spacing: 0.5px;
    padding: 12px 0;
}
.news__blog-text{
    letter-spacing: 0.1px;
    color: #5e5e5e;
}
.footer__content{
    background-color: #585858;
    padding: 20px 0px 30px;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__inner .header__btn{
    float: none;
    display: inline-block;
}
/* .footer__map iframe{
    padding-top: 10px;
    max-width: 630px;
    width: 100%;
    height: 250px;
} */
.footer__info{
    max-width: 360px;
}
.footer__info-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: 16px;
    color: #fff;
    line-height: 36px;
    letter-spacing: 0.5px;
}
.footer__info-text{
    color: #D3D2D2;
    margin-bottom: 20px;
}
.footer__info-list{
    padding-top: 10px;
}
.footer__info-list li{
    margin-top: 10px;
}
.footer__info-list a{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color:#fff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-left: 33px;
    position: relative;
}
.footer__info-list a::before{
    font-family: 'icomoon';
    content: "\f003";
    position: absolute;
    left: 0;
    color: #ffc222;
    left: 3px;
}
.footer__info-list .footer__phone::before{
    content: "\f095";
}
.footer__info-list .footer__adress::before{
    content: "\f041";
}
.footer__copyright{
    background-color: #303030;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    padding: 8px 0;
}
#modal{
    width: 300px;
}
#modal input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
#modal input[type="submit"]{
    background-color: #ffc222;
    border: none;
}