* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: inline-block;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
    /* font-family: 'Roboto', sans-serif; */
}
        /* HEADER */
.header{
    font-family: 'Roboto', sans-serif;
}
.header__top {
    background-color: #303030;
}
.header__btn {
    float: right;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    position: relative;
}
.header__btn:before{
    font-family: 'icomoon';
    content: "\f0b1";
    position: absolute;
    left: 22px;
    color:#1b1b1b;
}
.header__contacts:after{
    content:"";
    clear: both;
    display: block;
}
.header__phone,
.header__email{
    color: #d3d2d2;
    letter-spacing: 0.25px;
    line-height: 45px;
    padding-left: 24px;
    position: relative;
}
.header__phone{
    padding-left: 20px;
    padding-right: 30px;
    position: relative;
}
.header__phone:before{
    font-family: 'icomoon';
    content: "\f095";
    position: absolute;
    left: 0;
    color:#ffc222;
    bottom: -2px;
}
.header__email:before{
    font-family: 'icomoon';
    content: "\f003";
    position: absolute;
    left: 0;
    color:#ffc222;
}
.header__content{
    padding: 34px 0px 23px;
}
.menu li {
    display: inline-block;
}
.header__content-inner{
    display: flex;
    justify-content: space-between;
}
.menu a {
    font-size: 16px;
    line-height: 36px;
    color: #323232;
    border: 1px solid transparent;
    padding: 0 16px;
}
.menu a:hover {
    border-color: #ffc222;
}
.menu li + li {
    padding-left: 10px;
}
#modal {
    display: none;
}
        /* MAIN */
.slider{
    background-image: url(../images/slider-background.png);
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}
.slider__item-content{
    text-align: center;
    padding-top: 110px;
    max-width: 665px;
    margin: 0 auto;
}
.slider__title{
    font-size: 30px;
    text-transform: uppercase;
    line-height: 36px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}
.slider__text{
    color: #d3d2d2;
    margin-bottom: 50px;
}
.default__btn{
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 50px 8px 24px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    position: relative;
    outline: none;
}
.default__btn::after{
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
    color: #fff;
}
.slider__inner{
    position: relative;
}
.slick-btn{
    position: absolute;
    top: 70%;
    z-index: 5;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    cursor: pointer;
    outline: none;
    background-color: #ffc222;
}
.slick-btn.slick-disabled{
    cursor: default;
    background-color: transparent;
}
.slick-btn::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    color: #fff;
}
.slick-prev::before{
    content: "\f104";
}
.slick-next::before{
    content: "\f105";
}
.slick-next{
    right: 0;
}
.slick-prev{
    left: 0;
}
.services{
    padding: 50px 0px 30px;
}
.services__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.services__title-box{
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}
.services__title-box::before{
    content:"";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ffc222;
    left: 0;
    top: 11px;
}
.services__title{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #212020;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
.services__text{
letter-spacing: 0.1px;
}
.services__btn > a{
    color: #373636;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 5px 38px;
    border: 3px solid #e6e6e6;
}
.services__items{
    display: flex;
    justify-content: space-between;
}
.services__item{
    max-width: 360px;
    text-align: center;
    padding: 30px 0px 80px;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.services__item-title{
    color: #212020;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0;
}
.services__item-text {
    letter-spacing: 0.1px;
    padding: 0px 35px;
}
.services__item-btn{
    position: absolute;
    bottom: 40px;
    left:0;
    right: 0;
}
.services__item-btn .default__btn{
    color:#373636;
}
.services__item-link{
    font-family: 'Roboto', sans-serif;
    color: #050505;
    border-bottom: 1px solid #050505;
    margin-right: 30px;
}
.about__inner{
    max-width: 545px;
}
.about{
    background-image: url(../images/about-background.png);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    background-repeat: no-repeat;
    padding: 25px 0px 45px;
}
.about__title{
    padding: 10px 0px 25px;
    font-size: 24px;
    line-height: 24px;
    color:#fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.about__text{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    letter-spacing: 0.1px;
    line-height: 24px;
    color: #d3d2d2;
}
.about__btn.default__btn::after{
    color: #000;
}